set_io clk B4
set_io nrst B3
set_io dtime[3] D6
set_io dtime[2] E1
set_io dtime[1] E2
set_io dtime[0] E3
set_io sck_adc D1
set_io cnv_adc C5
set_io sdi_adc C6
set_io sck_dac B6
set_io syn_dac B5
set_io sdo_dac C1
set_io sck_ram A2
set_io css_ram B1
set_io sdi_ram A3
set_io sdo_ram A1
set_io done E6